# compiled object files
*.o
# executables & disk images
*.bin
*.iso
*.img
*.elf
# build dir
isodir/
# QEMU debug logs (idk if this is the correct extension, but it should be)
*.log
#OS-specific files for windows/mac users (i guess)
.DS_Store
Thumbs.db